*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

body { 
  margin: 0; 
  height: 100vh;
  background: #ffda81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
  
.header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
  
.header_clouds{
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  border: 1px solid;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_cloudsContainerL,
.header_cloudsContainerR{
  border: 1px solid;
  width: 50%;
  height: 100%;
  padding: 10px;
}
  
.headerTopMenu{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerTopMenuIconRight,
.headerTopMenuIconLeft{
  width: 60px;
  height:60px;
  margin-top: 7%;
  border: none;
}

.headerTopMenuIconLeft{
  margin-left: 150px;
  animation: desaparece 1s ease .1s forwards;
  -moz-animation: desaparece 1s ease .1s forwards;
  -o-animation: desaparece 1s ease .1s forwards;
  -webkit-animation: desaparece 1s ease .1s forwards;
}

.headerTopMenuIconRight{
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTopIconRight--img,
.headerTopMenuIconLeft--img{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 60;
}

.headerTopIconRight--img{
  transition: all .1s  linear;
  -moz-transition: all .1s  linear;
  -o-transition: all .1s  linear;
  -webkit-transition: all .1s  linear;
  -ms-transition: all .1s  linear;
}

.headerTopIconRight--img:hover{
  cursor: pointer;
}

.headerTopIconRight--img:active{
  transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -webkit-transform: scale(.9);
}

.fullMenu {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background:#ffda81;
  transition: all .2s .5s ease-in-out;
  -moz-transition: all .2s .5s ease-in-out;
  -webkit-transition: all .2s .5s ease-in-out;
  -o-transition: all .2s .5s ease-in-out;
  -ms-transition: all .2s .5s ease-in-out;
}

.fullMenu_header{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/ico/actopan_frailes.png");
  background-repeat:no-repeat;
  background-size: cover;
}

.fullMenuIconRight,
.fullMenuIconLeft{
  width: 60px;
  height:60px;
  margin-top: 7%;
  border: none;
}

.fullMenuIconLeft{
  margin-left: 150px;
}

.fullMenuIconRight{
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullMenuIconRight--img,
.fullMenuIconLeft--img{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 60;
}

.fullMenuIconRight--img{
  transition: all .1s  linear;
  -moz-transition: all .1s  linear;
  -webkit-transition: all .1s  linear;
  -o-transition: all .1s  linear;
  -ms-transition: all .1s  linear;
}

.fullMenuIconRight--img:hover{
  cursor: pointer;
}

.fullMenuIconRight--img:active{
  transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -webkit-transform: scale(.9);
}


.headerBottom{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.headerBottomIconLeft{
	width: 60px;
  height: 60px;
  margin-right: 150px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 60;
}

.headerBottomIconLeft--img{
  height: 100%;
  transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -ms-transition: all .1s linear;
}

.headerBottomIconLeft--img:hover{
  cursor: pointer;
}

.headerBottomIconLeft--img:active{
  transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -webkit-transform: scale(.9);
}

.headerSection_textContainer{
  width: 450px;
  height: 450px;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: aparece .8s ease 1s forwards;
  -webkit-animation: aparece .8s ease 1s forwards;
  -o-animation: aparece .8s ease 1s forwards;
}

.headerSection_text--img{
  width: 70%;
  height: 70%;
}

.fullMenu_body{
  width: 100%;
  height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullMenu_pab{
  width: 100%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullMenupab_b1,
.fullMenupab_b2,
.fullMenupab_b3{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.fullMenupab_b11, .fullMenupab_b12, .fullMenupab_b13,
.fullMenupab_b21, .fullMenupab_b22, .fullMenupab_b23,
.fullMenupab_b31, .fullMenupab_b32, .fullMenupab_b33 {
  border: 1px solid green;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.thumb{
  width: 80px;
  height: 80px;
  border: 1px solid blue;
  border-radius: 50%;
}

.pab_body{
  border: 1px solid red;
  width: 70%;
}

/* Animaciones */

@keyframes aparece {
  0% {
    opacity: 0;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 1;
  }

}

@-o-keyframes aparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

@-moz-keyframes aparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes aparece{
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}
  
@keyframes desaparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

@-o-keyframes desaparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

@-moz-keyframes desaparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes desaparece {
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .5;
  }

  100% {
    opacity: 0;
  }

}

/* Adaptable a pantallas */

@media screen and (max-width: 530px){
  .headerTopMenuIconRight,
  .headerTopMenuIconLeft{
    width: 50px;
    height:50px;
    margin-top: 20px;
  }

  .headerSection_text--img{
    width: 40%;
    height: 40%;
  }

  .headerTopMenuIconRight{
    margin-right: 20px;
  }

  .headerTopMenuIconLeft{
    margin-left: 20px;
  }

  .headerBottomIconLeft{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 330px){
  .headerTopMenuIconRight,
  .headerTopMenuIconLeft{
    width: 50px;
    height:50px;
    margin-top: 20px;
  }

  .headerSection_text--img{
    width: 40%;
    height: 40%;
  }

  .headerTopMenuIconRight{
    margin-right: 20px;
  }

  .headerTopMenuIconLeft{
     margin-left: 20px;
  }

  .headerBottomIconLeft{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}